{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
   <table class="table tablestriped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
       <tbody>
            {% for p in portfolio %}
            <tr>
                <td class="text-start">{{ p["symbol"] }}</td>
                <td class="text-start">{{ p["name"] }}</td>
                <td class="text-end">{{ p["shares"] }}</td>
                <td class="text-end">{{ p["price"] }}</td>
                <td class="text-end">{{ p["total"] }}</td>
            </tr>
            {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Cash Remaining</td>
                <td class="border-0 text-end">{{ sums['cash'] }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Portfolio value</td>
                <td class="border-0 w-bold text-end">{{ sums['total'] }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                <td class="border-0 w-bold text-end">{{ sums['totaltotal'] }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
